/* PC */
@media (min-width: 73.8125em) {
    
}

/* Tablet and Mobile */
@media (max-width: 73.75em) {
    .content-test {
        width: 100% !important;
    }

    .discove-content-h2 {
        width: 100% !important;
    }

    .discover-content-p {
        width: 100% !important;
    }
   
    .footer-bottom .footer-line {
        width: 100% !important;
    }

    .footer-business  h1 {
        width: 100% !important;
    }

    .form-control {
       padding-right: 20px;
    }

    .footer-btn {
        padding: 28px 28px !important;
        margin-left: 0px !important;
        margin-right: 150px;
        
    }

    .footer-bottom .footer-line {
        display: none;
    }
}

/* Tablet */
@media (min-width: 46.25em) and  (max-width: 63.9375em) {
    #banner-section .header-content img {
        width: 800px;
    }

    #frame{
        height: 1000px;
    }

    #frame .frame-content{
        flex-direction: column;
        gap: 30px;
    }

    .frame-content .frame-content-text .btn{
        align-self: stretch;
     }
}

/* Mobile */
@media (max-width: 46.1875em) {
    
}