
body {
    font-family: 'Roboto', sans-serif;
}
  
#main{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 80px;
    background: #FFF;
    margin: auto;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    /* width: 100%; */
    background: #FFF;
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.08);
    padding: 30px 80px;
    align-items: center;
    align-self: stretch;
}

.header .frame-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    flex-wrap: wrap;
}

.header #logo img{
    width: 140px;
    height: 28.354px;

}

#nav {

}

#nav ul{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    gap: 32px;
    text-align: center;
    padding: 0;
}

#nav li {
    list-style-type: none;
}

#nav li a{
    color: var(--Primary, #1D2130);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-decoration: none;
}

#nav li .btn{
    display: flex;
    border-radius: 12px;
    background: var(--Primary, #1D2130);
    padding: 16px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    color: var(--White, #FFF);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

#banner-section{
    display: flex;
    padding: 40px 208px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

#banner-section .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
    align-self: stretch;
    background: #FFF;
}

#banner-section .header-content .image-1{
    width: 896px;
    height: 757px;
    position: absolute;
    background: url(./img/background/content-1.png);
}

#banner-section .header-content .content-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.content-banner .frame-1{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    align-self: stretch;
}

.content-banner .frame-1 h1{
    width: 768px;
    color: var(--Primary, #1D2130);
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
}

.content-banner .frame-1 p{
    width: 768px;
    color: var(--Primary, #1D2130);
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

#banner-section .header-content .form-header{
    display: flex;
    position: relative;
    padding: 8px 8px 8px 21px;
    justify-content: center;
    align-items: center;
    gap: 253px;
    border-radius: 20px;
    border: 1px solid #CACACA;
    background: var(--White, #FFF);
}

#banner-section .form-header input{
    color: var(--Primary, #1D2130);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-transform: capitalize;
    opacity: 0.4;
}

#banner-section .form-header .btn{
    display: flex;
    padding: 16px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background: var(--Primary, #1D2130);
    color: var(--White, #FFF);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

#banner-section .header-content img{
    position: relative;
}

.brk-color-features-list-1 {
    background: var(--Light-Violet, #E0E4FC) !important;
}


#frame{
    display: flex;
    margin-bottom: 80px;
    gap: 10px;
    width: 100%;
    height: 563px;
    background: url(./img/background/frame.png) 50% / cover no-repeat;
}

#frame .frame-content{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 88px;
    margin: auto;
}

.frame-content .frame-content-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
}

.frame-content .frame-content-text .frame-content-text-h2{
    width: 576px;
    color: var(--Primary, #1D2130);
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    }

.frame-content .frame-content-text .frame-content-text-p{
    width: 576px;
    color: var(--Primary, #1D2130);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
 }

 .frame-content .frame-content-text .btn{
    display: flex;
    padding: 16px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background: var(--Primary, #1D2130);
    color: var(--White, #FFF);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
 }

 #frame .frame-content img{
    width: 576px;
    height: 435px;
 }

.content-logos {
    display: flex;
    /* padding: 40px 80px; */
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: flex-start; */
    align-items: center;
    gap: 40px;
    align-self: stretch;
    margin-bottom: 80px;
  
}

.logos {
    display: flex;
    /* align-items: flex-start; */
    justify-content: space-around;
    gap: 100px; 
    flex-wrap: wrap ;
}

.logos img {
    width: 196.967px;
    height: 40px;
}

.content-big-sales-today {
    width: 100%;
    display: flex;
    padding: 40px 80px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
    background: #FFF;
    margin-bottom: 80px;
    flex-wrap: wrap;

}

.discover {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: wrap;
}

.discover-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    flex-wrap: wrap;

}

.discover-content-h4 {
    
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;

    background: var(--Label-gradient, linear-gradient(54deg, #373FFF 15.02%, #3ACAF8 82.83%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.discove-content-h2 {
    width: 576px;
    color: var(--Primary, #1D2130);

    /* H2 */
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 57.6px */
    margin: 0;
    

}

.discover-content-p {
    width: 576px;
    color: var(--Primary, #1D2130);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.discover-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;

}

.discover-items {
    display: flex;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;

}

.discover-items img {
    width: 72px;
    height: 72px;
    fill: var(--Text-Gray-100, #F4F5F7);
}

.discover-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.discover-frame-h4 {
    width: 428px;
    color: var(--Primary, #1D2130);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    margin: 0;
}

.discover-frame-p {
    width: 472px;
    color: var(--Primary, #1D2130);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
}

.content-features {
    display: flex;
    padding: 40px 80px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
    background: #FFF;
    margin-bottom: 80px;
}

.features-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    align-self: stretch;
}

.features-text {
    color: #000;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin: 0;
    text-align: center;
}

.features-list {
    display: flex;
    padding: 64px;
    justify-content: space-around;
    align-items: center;
    align-self: stretch;
    border-radius: 24px;
    flex-wrap: wrap;

}

.brk-color-features-list-2 {
    background: rgba(215, 152, 225, 0.15) !important;
}

.features-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  
}

.features-items img {
    width: 56px;
    height: 56px;
}

.features-items-h3 {
    width: 339px;
    color: var(--Primary, #1D2130);
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin: 0;
}

.features-items-p {
    width: 339px;
    color: var(--Primary, #1D2130);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 0;    
}

.content-product-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
    background: #FFF;
    width: 100%;
    align-items: center;
}

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.frame-product {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 24px;
    margin-left: 400px;
    margin: auto;
    flex-wrap: wrap;

}

.item-product {
    display: flex;
    padding: 64px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    border-radius: 24px;
    border: 2px solid rgba(97, 153, 237, 0.26); 
}

.t {
    width: 283px;
    color: var(--Primary, #1D2130);
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin: 0;
}

.frame-product .img {
    width: 56px;
    height: 56px;
    border-radius: 56px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.t-name {
    width: 183px;
    color: var(--Primary, #1D2130);
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.t-job {
    width: 183p;
    color: var(--Primary, #1D2130);
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin: 0;

}

.content-test {
    width: 628px;
    color: var(--Primary, #1D2130);
    text-align: center;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    display: block;
    margin: auto;
}

.footer-fame {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    align-self: stretch;
    background: #FFF;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer {
    width: 100%;
    display:flex;
    padding: 54px 8px;
    flex-direction: column;
    align-items: center;
    gap: 59px;
    background: var(--Primary, #1D2130);
    position: relative;
    
}

.footer-p {
    width: 228.16px;
    color: var(--White, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    opacity: 0.6;
    margin: 0;
}

.footer-h3 {
    width: 167.44px;
    color: var(--White, #FFF);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    text-transform: capitalize;
    margin: 0;
} 

.footer-business { 
    width: 100%;
    height: 468px;
    position: relative;
    bottom: 0;
    bottom: -128.434px;
    background: url(./img/background/footer.png);
}

.business-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.footer-business  h1{
    width: 846px;
    color: var(--Primary, #1D2130);
    text-align: center;
     font-family: Roboto;
     font-size: 56px;
     font-style: normal;
     font-weight: 700;
     line-height: 110%;
     margin-bottom: 0;
}   

.footer-business p {
    color: var(--Primary, #1D2130);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
     margin: 0;
     line-height: 150%;
    
}

.footer-business .business-btn {
    display:inline-flex;
    padding: 16px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background: var(--Primary, #1D2130);
    color: var(--White, #FFF);
    text-align: center;
    cursor: pointer;
}

.business-btn:hover {
    color: #FFF;
    background-color: #888;
}

.footer-btn-h6 {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.footer .footer-col {
    display: flex;
    align-items: flex-start;
    gap: 60px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.footer-sub {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 27px;
    flex-wrap: wrap;
}

.footer-sub img {
    width: 130px;
    height: 26.329px;
}

.footer-sub h2 {
    color: var(--White, #FFF);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin: 0;
}

.text-btn {
    display: flex;
    flex-wrap: wrap;
}

.form-control { 
    width: 200px;
    height: 54px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #2B2E3C;
    align-items: center;
    position: absolute;

    
    
    color: var(--White, #FFF);
    padding: 8px 100px 8px 22px;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 4000;
    line-height: 150%;
    opacity: 0.8;
}   

.footer-btn {
    display: flex;
    padding: 28px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 12px;
    background: var(--White, #FFF);
    position: relative;
    top: 0px;
    left: 200px;
}

.footer-btn:hover{
    color: #FFF;
    background-color: #888;
}

.footer-btn p {
    color: var(--Primary, #1D2130);
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.footer-bottom {
    display: flex;
    align-items: center;
    gap: 32px;
   flex-wrap: wrap;
   justify-content: space-around;
}

.footer-bottom .footer-line{
    width: 445px;
    height: 1px;
    background: #888;
    display: flex;
    flex-wrap: wrap;
}

.footer-bottom p {
    color: var(--White, #FFF);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    opacity: 0.5;
}

.footer-bottom img{
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    opacity: 0.5;
}


